body {
    margin: 0%;
    padding: 0%;
}

.single-line-container {
    display: flex;
    /* Use flexbox */
    align-items: center;
    /* Vertically center text (optional) */
}

.single-line {
    flex: 0 0 auto;
    /* Prevent flex item from growing */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.black-line {
    border: none;
    /* Remove default hr styles */
    height: 1px;
    background-color: black;
}

.PokomonItem-style {
    padding: 16px 16%;
}

.bordered-element {
    border: 2px solid black;
    border-radius: 16px;
}

.PokemonList-bordered {
    border: 10px solid gray;
    border-radius: 16px;
    background-color: gray;
}

.PokemonList-style {
    background-color: white;
    padding-top: 10px;
}

.Screen-style {
    /* height: 80vh; */
    padding: 5% 16%;
    background-color: red;
}

li {
    padding: 0%;
    margin: 0%;
    list-style-type: none;
}

ul {
    padding: 0%;
    margin: 0%;
    list-style-type: none;
}

.scrollable-area {
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling if content exceeds the fixed dimensions */
  }

  body::-webkit-scrollbar {
    width: 2vw;
  }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: red;
  }
  body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: gray;
  }